.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 47px;
  padding: 22px;
  text-align: center;
}

.mainfooter {
  border-style: solid;
  border-top-width: 1px;
  box-shadow: 0 -3px 10px rgba(151, 164, 175, 0.05);
}
